@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(./assets/fonts/Montserrat/Montserrat-Regular.ttf);
  }


* {
  font-family: "Montserrat-Regular";
}
